
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 col-sm-1">
            <div class="thumbnail">
                @if (product.ImageData != null)
                {

                    <img alt="@product.Name"
                         src=@Url.Action("GetImage", "Product",
                                 new {product.ProductId}) />

                }
                else
                {
                    <img src="/Content/Images/placeholder.gif" class="productimg img-rounded" alt="productphoto" />
                }

                <div class="caption">
                    <hr class="col-md-12" />
                    <h4>@product.Name</h4>
                    <p>@product.Description</p>
                    <h5>
                        @($"{product.Price:0.00€}")
                    </h5>
                    @using (Html.BeginForm("Add", "Cart", new { id = product.ProductId }))
                    {
                        <div class="form-group">
                            <label class="" for="quantity">Aantal (Max. @product.MaxAantal)</label><br />
                            <input id="quantity" type="number" name="quantity" value="1" class="input-medium" />
                        </div>
                        <button type="submit" class="btn btn-default ">
                            <span class="glyphicon glyphicon-envelope"></span> Toevoegen aan aanvraag
                        </button>

                    }
                </div>
            </div>
            <br />
        </div>
    }

</div>